{% load static %}
{% load website_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ short_title }}{% block titulo_extra %}{% endblock %}</title>
  {% if favicon %}<link rel="shortcut icon" type="image/png" href="{{ favicon }}">{% endif %}
  <link rel="stylesheet" href="{% static 'styles/radar.css' %}">
  <link rel="stylesheet" href="{% url 'website:custom-css' %}">
  {% block extra_head %}{% endblock %}
</head>

<body {% block body_class %}{% endblock %}>
  {% block alerta %}{% endblock %}
  {% block menu_principal %}
  <!-- MENU PRINCIPAL -->
  <nav id="main_navbar" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Abrir/fechar menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'website:principal' %}">
          <img src="{{ small_logo }}" alt="{{ short_title }}" />
          {{ short_title }}
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav{% if tramitabot or graph_url %} divider{% endif %}">
          <li class="active"><a href="{% url 'website:principal' %}">Projetos de lei</a></li>
          <li><a href="{% url 'website:agenda' %}">Agenda da semana</a></li>
          <li><a href="{% url 'website:novos_pls' %}">Novos PLs</a></li>
          <li><a href="{% url 'website:cenario_legislativo' %}">Cenário legislativo</a></li>
          <li><a href="{% url 'website:sobre' %}">Sobre</a></li>
        </ul>
        {% if tramitabot or graph_url %}
        <ul class="nav navbar-nav">
          <li role="separator" class="divider"></li>
          {% if graph_url %}<li><a href="{{ graph_url }}">Grafo de PLS</a></li>{% endif %}
          {% if tramitabot %}<li><a href="{% url 'website:tramitabot' %}">Tramitabot</a></li>{% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  <!-- MENU PRINCIPAL -->
  {% endblock %}

  {% block header %}
  <!-- HEADER -->
  <div class="main-page-header container-fluid text-center">
    <h1>{{ long_title }}</h1>
    <p>{{ headline }}</p>
    <img class="robo" src="{{ large_logo }}" alt="{{ long_title }}" />
  </div>
  <!-- HEADER -->
  {% endblock %}

  {% block conteudo %}

  {% endblock conteudo %}

  {% block rodape %}
  <!-- RODAPE -->
  <div class="rodape container-fluid">
    <div class="navegacao container">
      <div class="col-sm-4">
        <h6>{{ footer_headline }}</h6>
        <ul class="nav">
          <li><a href="{% url 'website:agenda' %}">agenda da semana</a></li>
          <li><a href="{% url 'website:principal' %}">projetos de lei</a></li>
          <li><a href="{% url 'website:novos_pls' %}">novos PLs</a></li>
          <li><a href="{% url 'website:cenario_legislativo' %}">cenário legislativo</a></li>
          {% if graph_url %}<li><a href="{{ graph_url }}">grafo de pls</a></li>{% endif %}
          {% if tramitabot %}<li><a href="{% url 'website:tramitabot' %}">tramitabot</a></li>{% endif %}
          <li><a href="{% url 'website:sobre' %}">sobre</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h6>categorias</h6>
        <ul class="nav">
          {% get_cached_tags as tags %}
          {% for tag in tags %}
          <li><a href="{% link_filtro tag.slug %}">{{ tag.nome.lower }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-4">
        <h6>{{ maintained_by_name }}</h6>
        <p><a href="https://twitter.com/{{ maintained_by_twiiter }}">@{{ maintained_by_twiiter }}</a></p>
        <p><a href="{{ maintained_by_extra_url }}">{{ maintained_by_extra_text }}</a></p>
        <a href="{{ maintained_by_url }}"><img src="{{ maintained_by_logo }}" alt="{{ maintained_by_name }} logo" /></a>
      </div>
    </div>

    <div class="licenca row">
      <p>Este projeto foi criado pela <a href="https://www.codingrights.org/">Coding Rights</a> e está licenciado com uma Licença Creative Commons 4.0 CompartilhaIgual.</p>
      <p>Código aberto disponível no <a href="https://gitlab.com/codingrights"><img class="logo" src="{% static 'img/logo-gitlab.svg' %}" alt="" /> Gitlab</a></p>
    </div>
  </div>
  <!-- RODAPE -->
  {% endblock %}

  <!-- SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% if tracking_code %}{{ tracking_code }}{% endif %}
  {% block scripts_extra %}
  {% endblock %}
  <!-- SCRIPTS -->
</body>
</html>
