#main_navbar {
  background-color: {{ header_background_color_dark }}
}

.main-page-header {
  background-color: {{ header_background_color }} 
}

.pagina-index .links-principais {
  background-color: {{ header_background_color_light }}
}

.pagina-index .links-principais a,
h2.section-title,
.rodape .navegacao h6 {
  color: {{ text_highlight_color }}
}

.pagina-index .links-principais svg {
  fill: {{ text_highlight_color }} 
}
